@using EntityLayer.Concrete
@model List<Category>

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>
<br />

<h1>TABLO</h1>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.CategoryId</td>
    <td>@item.CategoryName</td>
    <td>@item.CategoryDescription</td>
    <td>@item.CategoryStatus</td>
</tr>
            } 
</table>